doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/main.css")
        title #{title}
    body 
        nav
            ul 
                li
                    a(href ="/") Home
                li
                    a(href ="/services") Our Services
                li
                    a(href ="/contact") Contact
            block content